In [1]:
import pandas as pd
import numpy as np
import os
dir = "/Users/walterdempsey/Box/MD2K Processed Data/smoking-lvm-cleaned-data/"
os.chdir(dir)
os.getcwd()

'/Users/walterdempsey/Box/MD2K Processed Data/smoking-lvm-cleaned-data'

In [2]:
# read data
original_data = pd.read_csv(dir + 'eod-ema.csv')
original_data = original_data.drop(['offset'], axis=1)
backup_data = pd.read_csv(dir + 'eod-ema-backup.csv')

In [3]:
print('End of Day EMA Phone Data Summary:')
print(original_data.describe())

End of Day EMA Phone Data Summary:
             8to9       9to10      10to11      11to12      12to13      13to14  \
count  315.000000  315.000000  315.000000  315.000000  315.000000  315.000000
mean     0.228571    0.133333    0.152381    0.158730    0.184127    0.171429
std      0.420581    0.340476    0.359962    0.366006    0.388204    0.377483
min      0.000000    0.000000    0.000000    0.000000    0.000000    0.000000
25%      0.000000    0.000000    0.000000    0.000000    0.000000    0.000000
50%      0.000000    0.000000    0.000000    0.000000    0.000000    0.000000
75%      0.000000    0.000000    0.000000    0.000000    0.000000    0.000000
max      1.000000    1.000000    1.000000    1.000000    1.000000    1.000000

           14to15      15to16      16to17      17to18      18to19      19to20  \
count  315.000000  315.000000  315.000000  315.000000  315.000000  315.000000
mean     0.174603    0.209524    0.196825    0.206349    0.215873    0.276190
std      0.380231    0.407616    0.398232    0.405328    0.412081    0.447824
min      0.000000    0.000000    0.000000    0.000000    0.000000    0.000000
25%      0.000000    0.000000    0.000000    0.000000    0.000000    0.000000
50%      0.000000    0.000000    0.000000    0.000000    0.000000    0.000000
75%      0.000000    0.000000    0.000000    0.000000    0.000000    1.000000
max      1.000000    1.000000    1.000000    1.000000    1.000000    1.000000

       participant_id     timestamp        hour      minute
count      372.000000  3.720000e+02  372.000000  372.000000
mean       231.408602  1.525934e+12   18.215054   23.408602
std         16.015314  1.468911e+10    7.672332   19.040735
min        201.000000  1.498277e+12    0.000000    0.000000
25%        216.000000  1.509912e+12   19.000000    6.000000
50%        233.000000  1.532143e+12   21.000000   19.000000
75%        247.000000  1.540515e+12   22.000000   41.000000
max        253.000000  1.544761e+12   23.000000   59.000000

In [4]:
print(original_data.shape)
original_data['participant_id'].value_counts().sort_index()

(372, 19)

201     3
203     5
205    13
206     5
207     6
208     4
209     3
211    14
213     3
214    11
215    14
216    13
217    12
218    14
219    14
220     2
221     4
222     2
228    13
229     6
230    13
231     3
232     1
233    10
234     3
235     7
236     2
237     2
238    13
239     1
240    10
241     3
242    11
243     4
244    14
245    11
246     3
247    14
248    14
249    15
250    14
251    15
252    14
253    14
Name: participant_id, dtype: int64

In [5]:
print('End of Day EMA Cloud Backup Data Summary:')
print(backup_data.describe())

End of Day EMA Cloud Backup Data Summary:
             8to9       9to10      10to11      11to12      12to13      13to14  \
count  293.000000  293.000000  293.000000  293.000000  293.000000  293.000000
mean     0.249147    0.150171    0.167235    0.167235    0.187713    0.191126
std      0.433259    0.357850    0.373824    0.373824    0.391151    0.393861
min      0.000000    0.000000    0.000000    0.000000    0.000000    0.000000
25%      0.000000    0.000000    0.000000    0.000000    0.000000    0.000000
50%      0.000000    0.000000    0.000000    0.000000    0.000000    0.000000
75%      0.000000    0.000000    0.000000    0.000000    0.000000    0.000000
max      1.000000    1.000000    1.000000    1.000000    1.000000    1.000000

           14to15      15to16      16to17      17to18      18to19      19to20  \
count  293.000000  293.000000  293.000000  293.000000  293.000000  293.000000
mean     0.180887    0.232082    0.221843    0.215017    0.245734    0.293515
std      0.385583    0.422883    0.416197    0.411537    0.431258    0.456152
min      0.000000    0.000000    0.000000    0.000000    0.000000    0.000000
25%      0.000000    0.000000    0.000000    0.000000    0.000000    0.000000
50%      0.000000    0.000000    0.000000    0.000000    0.000000    0.000000
75%      0.000000    0.000000    0.000000    0.000000    0.000000    1.000000
max      1.000000    1.000000    1.000000    1.000000    1.000000    1.000000

       participant_id     timestamp        hour      minute
count      336.000000  3.360000e+02  336.000000  336.000000
mean       230.235119  1.524904e+12   18.107143   24.074405
std         15.838591  1.466879e+10    7.714716   18.955812
min        204.000000  1.502768e+12    0.000000    0.000000
25%        216.000000  1.509735e+12   19.000000    6.000000
50%        231.000000  1.530263e+12   21.000000   22.000000
75%        247.000000  1.540262e+12   22.000000   41.250000
max        253.000000  1.544761e+12   23.000000   59.000000

In [6]:
print(backup_data.shape)
backup_data['participant_id'].value_counts().sort_index()

(336, 19)

204     2
205    13
207    11
208     9
209     3
211    14
213     4
214    11
215    14
216    13
217    12
218    14
219    14
220     2
222     5
228    13
230    13
231     3
232     1
233    10
234     3
235     7
236     2
237     2
238    13
239     1
240    10
241     3
242    11
243     4
245    11
246     3
247    14
248    14
249    15
250    14
252    14
253    14
Name: participant_id, dtype: int64

In [7]:
# Look at the participant_id intersection of the backup and original datasets
unique_backup_ids = set(backup_data.participant_id)
unique_original_ids = set(original_data.participant_id)
ids_intersection = unique_backup_ids.intersection(unique_original_ids)

original_data_subset = original_data[original_data.participant_id.isin(ids_intersection)]
backup_data_subset = backup_data[backup_data.participant_id.isin(ids_intersection)]

print unique_backup_ids.difference(unique_original_ids)
print unique_original_ids.difference(unique_backup_ids)

print('Phone Data Summary')
print(original_data_subset.describe())

set([204])
set([229, 201, 203, 206, 244, 251, 221])
Phone Data Summary
             8to9       9to10      10to11      11to12      12to13      13to14  \
count  277.000000  277.000000  277.000000  277.000000  277.000000  277.000000
mean     0.231047    0.137184    0.151625    0.158845    0.180505    0.176895
std      0.422265    0.344664    0.359306    0.366193    0.385304    0.382271
min      0.000000    0.000000    0.000000    0.000000    0.000000    0.000000
25%      0.000000    0.000000    0.000000    0.000000    0.000000    0.000000
50%      0.000000    0.000000    0.000000    0.000000    0.000000    0.000000
75%      0.000000    0.000000    0.000000    0.000000    0.000000    0.000000
max      1.000000    1.000000    1.000000    1.000000    1.000000    1.000000

           14to15      15to16      16to17      17to18      18to19      19to20  \
count  277.000000  277.000000  277.000000  277.000000  277.000000  277.000000
mean     0.173285    0.223827    0.216606    0.212996    0.234657    0.292419
std      0.379179    0.417562    0.412678    0.410166    0.424551    0.455697
min      0.000000    0.000000    0.000000    0.000000    0.000000    0.000000
25%      0.000000    0.000000    0.000000    0.000000    0.000000    0.000000
50%      0.000000    0.000000    0.000000    0.000000    0.000000    0.000000
75%      0.000000    0.000000    0.000000    0.000000    0.000000    1.000000
max      1.000000    1.000000    1.000000    1.000000    1.000000    1.000000

       participant_id     timestamp        hour      minute
count      320.000000  3.200000e+02  320.000000  320.000000
mean       231.240625  1.525801e+12   18.015625   24.546875
std         15.502702  1.444222e+10    7.800595   19.022285
min        205.000000  1.503110e+12    0.000000    0.000000
25%        216.000000  1.509912e+12   19.000000    7.000000
50%        233.000000  1.531977e+12   21.000000   22.000000
75%        247.000000  1.540432e+12   22.000000   43.250000
max        253.000000  1.544761e+12   23.000000   59.000000

In [8]:
# In intersection, the backup is a superset of the observations. 
# Therefore, the backup shoud be used for analysis where possible.
print(original_data_subset.shape)
temp_original = pd.DataFrame(original_data_subset['participant_id'].value_counts().sort_index())
temp_backup = np.array(backup_data_subset['participant_id'].value_counts().sort_index())
temp_original['backup'] = temp_backup
temp_original.columns = ['original', 'backup']
print temp_original

(320, 19)
     original  backup
205        13      13
207         6      11
208         4       9
209         3       3
211        14      14
213         3       4
214        11      11
215        14      14
216        13      13
217        12      12
218        14      14
219        14      14
220         2       2
222         2       5
228        13      13
230        13      13
231         3       3
232         1       1
233        10      10
234         3       3
235         7       7
236         2       2
237         2       2
238        13      13
239         1       1
240        10      10
241         3       3
242        11      11
243         4       4
245        11      11
246         3       3
247        14      14
248        14      14
249        15      15
250        14      14
252        14      14
253        14      14

In [17]:
s = set()
d = {}

lst2 = []
for index, row in backup_data.iterrows():
    participant_id = row['participant_id']
    hour = row['hour']
    minute = row['minute']
    day_of_week = row['day_of_week']
    valid_key = (participant_id, hour, minute, day_of_week)
    s.add(valid_key)
    d[valid_key] = index

for index, row in original_data.iterrows():
    participant_id = row['participant_id']
    hour = row['hour']
    minute = row['minute']
    day_of_week = row['day_of_week']
    valid_key = (participant_id, hour, minute, day_of_week)
    if valid_key in s:
        s.remove(valid_key)
    else:
        lst2.append(index)

lst = []
for i in s:
    lst.append(d[i])

lst.sort()
difference = backup_data.ix[lst] 
print(difference.shape)
difference # rows that are only in the backup but not in the original

(16, 19)

/Library/Python/2.7/site-packages/ipykernel_launcher.py:30: DeprecationWarning:
.ix is deprecated. Please use
.loc for label based indexing or
.iloc for positional indexing

See the documentation here:
http://pandas.pydata.org/pandas-docs/stable/indexing.html#ix-indexer-is-deprecated

,status,8to9,9to10,10to11,11to12,12to13,13to14,14to15,15to16,16to17,17to18,18to19,19to20,participant_id,timestamp,date,hour,minute,day_of_week
0,COMPLETED,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,204,1502768220060,2017-08-14 23:37:00,23,37,Monday
1,COMPLETED,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,0.0,0.0,0.0,204,1502833045816,2017-08-15 17:37:25,17,37,Tuesday
15,COMPLETED,0.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0,207,1505783620020,2017-09-18 21:13:40,21,13,Monday
16,COMPLETED,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,207,1505876461327,2017-09-19 23:01:01,23,1,Tuesday
17,COMPLETED,0.0,0.0,0.0,0.0,0.0,1.0,0.0,1.0,1.0,0.0,0.0,1.0,207,1505960756838,2017-09-20 22:25:56,22,25,Wednesday
18,COMPLETED,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0,207,1506042044683,2017-09-21 21:00:44,21,0,Thursday
19,COMPLETED,1.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,207,1506128735244,2017-09-22 21:05:35,21,5,Friday
26,COMPLETED,1.0,1.0,1.0,0.0,0.0,1.0,1.0,0.0,1.0,1.0,1.0,1.0,208,1505786640882,2017-09-18 22:04:00,22,4,Monday
27,COMPLETED,1.0,0.0,1.0,1.0,1.0,1.0,1.0,0.0,0.0,1.0,1.0,0.0,208,1505868202990,2017-09-19 20:43:22,20,43,Tuesday
28,COMPLETED,1.0,1.0,1.0,1.0,1.0,1.0,0.0,1.0,0.0,1.0,1.0,1.0,208,1505955789615,2017-09-20 21:03:09,21,3,Wednesday
29,COMPLETED,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,208,1506042269907,2017-09-21 21:04:29,21,4,Thursday
30,COMPLETED,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,208,1506118020604,2017-09-22 18:07:00,18,7,Friday
53,COMPLETED,0.0,1.0,0.0,0.0,1.0,1.0,0.0,1.0,0.0,0.0,1.0,1.0,213,1508301111120,2017-10-18 00:31:51,0,31,Wednesday
138,COMPLETED,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,222,1512619346450,2017-12-06 23:02:26,23,2,Wednesday
139,ABANDONED_BY_TIMEOUT,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,222,1512706852428,2017-12-07 23:20:52,23,20,Thursday
140,COMPLETED,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,222,1512792121807,2017-12-08 23:02:01,23,2,Friday

In [11]:
difference = original_data.ix[lst2]
print(difference.shape)
difference # rows in the original but not in the backup

(28, 19)

/Library/Frameworks/Python.framework/Versions/3.6/lib/python3.6/site-packages/ipykernel_launcher.py:1: DeprecationWarning:
.ix is deprecated. Please use
.loc for label based indexing or
.iloc for positional indexing

See the documentation here:
http://pandas.pydata.org/pandas-docs/stable/indexing.html#ix-indexer-is-deprecated
  """Entry point for launching an IPython kernel.

,status,8to9,9to10,10to11,11to12,12to13,13to14,14to15,15to16,16to17,17to18,18to19,19to20,participant_id,timestamp,date,hour,minute,day_of_week
0,COMPLETED,0.0,1.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,201,1498277120417,2017-06-24 00:05:20,0,5,Saturday
1,COMPLETED,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,0.0,0.0,0.0,201,1498359251729,2017-06-24 22:54:11,22,54,Saturday
2,MISSED,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,201,1498450441461,2017-06-26 00:14:01,0,14,Monday
3,COMPLETED,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,203,1502940333261,2017-08-16 23:25:33,23,25,Wednesday
4,MISSED,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,203,1503029641629,2017-08-18 00:14:01,0,14,Friday
5,MISSED,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,203,1503116107921,2017-08-19 00:15:07,0,15,Saturday
6,COMPLETED,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,203,1503201212619,2017-08-19 23:53:32,23,53,Saturday
7,COMPLETED,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,203,1503288227082,2017-08-21 00:03:47,0,3,Monday
21,COMPLETED,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,206,1506196977516,2017-09-23 16:02:57,16,2,Saturday
22,COMPLETED,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,206,1506304315523,2017-09-24 21:51:55,21,51,Sunday
23,COMPLETED,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,206,1506362753117,2017-09-25 14:05:53,14,5,Monday
24,COMPLETED,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,206,1506457117372,2017-09-26 16:18:37,16,18,Tuesday
25,COMPLETED,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,206,1506539441179,2017-09-27 15:10:41,15,10,Wednesday
77,COMPLETED,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,215,1510027304982,2017-11-06 23:01:44,23,1,Monday
79,COMPLETED,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,215,1510200053337,2017-11-08 23:00:53,23,0,Wednesday
102,MISSED,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,217,1510107240861,2017-11-07 21:14:00,21,14,Tuesday
103,COMPLETED,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0,217,1510192930042,2017-11-08 21:02:10,21,2,Wednesday
136,MISSED,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,221,1511838840841,2017-11-27 22:14:00,22,14,Monday
137,COMPLETED,1.0,0.0,1.0,0.0,1.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0,221,1511924515190,2017-11-28 22:01:55,22,1,Tuesday
138,MISSED,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,221,1512011640857,2017-11-29 22:14:00,22,14,Wednesday
139,MISSED,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,221,1512100588176,2017-11-30 22:56:28,22,56,Thursday
155,COMPLETED,1.0,0.0,0.0,1.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0,1.0,229,1523674183332,2018-04-13 22:49:43,22,49,Friday
156,COMPLETED,1.0,1.0,1.0,0.0,1.0,1.0,1.0,0.0,0.0,0.0,0.0,0.0,229,1523761320404,2018-04-14 23:02:00,23,2,Saturday
157,MISSED,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,229,1523848441519,2018-04-15 23:14:01,23,14,Sunday
158,COMPLETED,0.0,0.0,1.0,0.0,1.0,0.0,1.0,1.0,0.0,1.0,1.0,0.0,229,1523934226928,2018-04-16 23:03:46,23,3,Monday
159,COMPLETED,0.0,1.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0,1.0,229,1524107026598,2018-04-18 23:03:46,23,3,Wednesday
160,COMPLETED,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,229,1524193421900,2018-04-19 23:03:41,23,3,Thursday
183,MISSED,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,233,1532236141077,2018-07-22 01:09:01,1,9,Sunday