In [1]:
import pandas as pd
import numpy as np

In [2]:
# read data
phone_data = pd.read_csv('eod-ema.csv')
phone_data = phone_data.drop(['offset'], axis=1)
cloud_data = pd.read_csv('eod-ema-backup.csv')

In [3]:
print('End of Day EMA Phone Data Summary:')
print(phone_data.describe())

End of Day EMA Phone Data Summary:
             8to9       9to10      10to11      11to12      12to13      13to14  \
count  183.000000  183.000000  183.000000  183.000000  183.000000  183.000000
mean     0.163934    0.142077    0.131148    0.114754    0.163934    0.147541
std      0.371232    0.350086    0.338488    0.319599    0.371232    0.355617
min      0.000000    0.000000    0.000000    0.000000    0.000000    0.000000
25%      0.000000    0.000000    0.000000    0.000000    0.000000    0.000000
50%      0.000000    0.000000    0.000000    0.000000    0.000000    0.000000
75%      0.000000    0.000000    0.000000    0.000000    0.000000    0.000000
max      1.000000    1.000000    1.000000    1.000000    1.000000    1.000000

           14to15      15to16      16to17      17to18      18to19      19to20  \
count  183.000000  183.000000  183.000000  183.000000  183.000000  183.000000
mean     0.169399    0.202186    0.240437    0.224044    0.218579    0.267760
std      0.376133    0.402732    0.428521    0.418095    0.414416    0.444006
min      0.000000    0.000000    0.000000    0.000000    0.000000    0.000000
25%      0.000000    0.000000    0.000000    0.000000    0.000000    0.000000
50%      0.000000    0.000000    0.000000    0.000000    0.000000    0.000000
75%      0.000000    0.000000    0.000000    0.000000    0.000000    1.000000
max      1.000000    1.000000    1.000000    1.000000    1.000000    1.000000

       participant_id     timestamp        hour      minute
count      202.000000  2.020000e+02  202.000000  202.000000
mean       218.539604  1.514451e+12   17.698020   22.450495
std          9.580293  9.919193e+09    7.982125   19.503285
min        201.000000  1.498277e+12    0.000000    0.000000
25%        211.000000  1.507969e+12   18.000000    4.000000
50%        217.000000  1.510109e+12   21.000000   15.500000
75%        228.000000  1.523761e+12   22.000000   38.750000
max        237.000000  1.532840e+12   23.000000   59.000000

In [12]:
print(phone_data.shape)
phone_data['participant_id'].value_counts().sort_index()

(202, 19)

201     3
203     5
205    13
206     5
207     6
208     4
209     3
211    14
213     3
214    11
215    14
216    13
217    12
218    14
219    14
220     2
221     4
222     2
228    13
229     6
230    13
231     3
232     1
233    10
234     3
235     7
236     2
237     2
Name: participant_id, dtype: int64

In [5]:
print('End of Day EMA Cloud Backup Data Summary:')
print(cloud_data.describe())

End of Day EMA Cloud Backup Data Summary:
             8to9       9to10      10to11      11to12      12to13      13to14  \
count  183.000000  183.000000  183.000000  183.000000  183.000000  183.000000
mean     0.191257    0.153005    0.147541    0.120219    0.169399    0.169399
std      0.394370    0.360980    0.355617    0.326109    0.376133    0.376133
min      0.000000    0.000000    0.000000    0.000000    0.000000    0.000000
25%      0.000000    0.000000    0.000000    0.000000    0.000000    0.000000
50%      0.000000    0.000000    0.000000    0.000000    0.000000    0.000000
75%      0.000000    0.000000    0.000000    0.000000    0.000000    0.000000
max      1.000000    1.000000    1.000000    1.000000    1.000000    1.000000

           14to15      15to16      16to17      17to18      18to19      19to20  \
count  183.000000  183.000000  183.000000  183.000000  183.000000  183.000000
mean     0.169399    0.224044    0.256831    0.229508    0.251366    0.284153
std      0.376133    0.418095    0.438084    0.421670    0.434989    0.452247
min      0.000000    0.000000    0.000000    0.000000    0.000000    0.000000
25%      0.000000    0.000000    0.000000    0.000000    0.000000    0.000000
50%      0.000000    0.000000    0.000000    0.000000    0.000000    0.000000
75%      0.000000    0.000000    1.000000    0.000000    0.500000    1.000000
max      1.000000    1.000000    1.000000    1.000000    1.000000    1.000000

       participant_id     timestamp        hour      minute
count      195.000000  1.950000e+02  195.000000  195.000000
mean       218.466667  1.514342e+12   18.046154   22.261538
std          9.239241  9.766860e+09    7.673285   19.303018
min        204.000000  1.502768e+12    0.000000    0.000000
25%        211.000000  1.507904e+12   18.000000    4.000000
50%        217.000000  1.510024e+12   21.000000   19.000000
75%        228.000000  1.523502e+12   22.000000   38.000000
max        237.000000  1.532840e+12   23.000000   59.000000

In [6]:
print(cloud_data.shape)
cloud_data['participant_id'].value_counts().sort_index()

(195, 19)

204     2
205    13
207    11
208     9
209     3
211    14
213     4
214    11
215    14
216    13
217    12
218    14
219    14
220     2
222     5
228    13
230    13
231     3
232     1
233    10
234     3
235     7
236     2
237     2
Name: participant_id, dtype: int64

In [7]:
# take out participants in Phone Data that's not in Cloud Data
phone_data_backup = phone_data[~phone_data.participant_id.isin([201,203,206,210,221,229])]
print('Phone Data Summary')
print(phone_data_backup.describe())

Phone Data Summary
             8to9       9to10      10to11      11to12      12to13      13to14  \
count  167.000000  167.000000  167.000000  167.000000  167.000000  167.000000
mean     0.155689    0.131737    0.119760    0.101796    0.155689    0.143713
std      0.363650    0.339221    0.325658    0.303290    0.363650    0.351853
min      0.000000    0.000000    0.000000    0.000000    0.000000    0.000000
25%      0.000000    0.000000    0.000000    0.000000    0.000000    0.000000
50%      0.000000    0.000000    0.000000    0.000000    0.000000    0.000000
75%      0.000000    0.000000    0.000000    0.000000    0.000000    0.000000
max      1.000000    1.000000    1.000000    1.000000    1.000000    1.000000

           14to15      15to16      16to17      17to18      18to19      19to20  \
count  167.000000  167.000000  167.000000  167.000000  167.000000  167.000000
mean     0.155689    0.209581    0.251497    0.227545    0.233533    0.281437
std      0.363650    0.408234    0.435178    0.420508    0.424351    0.451053
min      0.000000    0.000000    0.000000    0.000000    0.000000    0.000000
25%      0.000000    0.000000    0.000000    0.000000    0.000000    0.000000
50%      0.000000    0.000000    0.000000    0.000000    0.000000    0.000000
75%      0.000000    0.000000    0.500000    0.000000    0.000000    1.000000
max      1.000000    1.000000    1.000000    1.000000    1.000000    1.000000

       participant_id     timestamp        hour      minute
count      179.000000  1.790000e+02  179.000000  179.000000
mean       219.212291  1.515001e+12   17.877095   22.944134
std          9.109180  9.890971e+09    7.821497   19.520292
min        205.000000  1.503110e+12    0.000000    0.000000
25%        214.000000  1.508947e+12   18.000000    4.000000
50%        217.000000  1.510114e+12   21.000000   20.000000
75%        228.000000  1.523891e+12   22.000000   39.500000
max        237.000000  1.532840e+12   23.000000   59.000000

In [8]:
print(phone_data_backup.shape)
phone_data_backup['participant_id'].value_counts().sort_index()

(179, 19)

205    13
207     6
208     4
209     3
211    14
213     3
214    11
215    14
216    13
217    12
218    14
219    14
220     2
222     2
228    13
230    13
231     3
232     1
233    10
234     3
235     7
236     2
237     2
Name: participant_id, dtype: int64

In [9]:
common_rows = pd.merge(cloud_data, phone_data_backup, how='inner')
print('Common Rows Summary between Phone and Cloud')
print(common_rows.describe())

Common Rows Summary between Phone and Cloud
             8to9       9to10      10to11      11to12      12to13      13to14  \
count  167.000000  167.000000  167.000000  167.000000  167.000000  167.000000
mean     0.155689    0.131737    0.119760    0.101796    0.155689    0.143713
std      0.363650    0.339221    0.325658    0.303290    0.363650    0.351853
min      0.000000    0.000000    0.000000    0.000000    0.000000    0.000000
25%      0.000000    0.000000    0.000000    0.000000    0.000000    0.000000
50%      0.000000    0.000000    0.000000    0.000000    0.000000    0.000000
75%      0.000000    0.000000    0.000000    0.000000    0.000000    0.000000
max      1.000000    1.000000    1.000000    1.000000    1.000000    1.000000

           14to15      15to16      16to17      17to18      18to19      19to20  \
count  167.000000  167.000000  167.000000  167.000000  167.000000  167.000000
mean     0.155689    0.209581    0.251497    0.227545    0.233533    0.281437
std      0.363650    0.408234    0.435178    0.420508    0.424351    0.451053
min      0.000000    0.000000    0.000000    0.000000    0.000000    0.000000
25%      0.000000    0.000000    0.000000    0.000000    0.000000    0.000000
50%      0.000000    0.000000    0.000000    0.000000    0.000000    0.000000
75%      0.000000    0.000000    0.500000    0.000000    0.000000    1.000000
max      1.000000    1.000000    1.000000    1.000000    1.000000    1.000000

       participant_id     timestamp        hour      minute
count      179.000000  1.790000e+02  179.000000  179.000000
mean       219.212291  1.515001e+12   17.877095   22.944134
std          9.109180  9.890971e+09    7.821497   19.520292
min        205.000000  1.503110e+12    0.000000    0.000000
25%        214.000000  1.508947e+12   18.000000    4.000000
50%        217.000000  1.510114e+12   21.000000   20.000000
75%        228.000000  1.523891e+12   22.000000   39.500000
max        237.000000  1.532840e+12   23.000000   59.000000

In [10]:
s = set()
d = {}

lst2 = []
for index, row in cloud_data.iterrows():
    participant_id = row['participant_id']
    hour = row['hour']
    minute = row['minute']
    day_of_week = row['day_of_week']
    valid_key = (participant_id, hour, minute, day_of_week)
    s.add(valid_key)
    d[valid_key] = index

for index, row in phone_data.iterrows():
    participant_id = row['participant_id']
    hour = row['hour']
    minute = row['minute']
    day_of_week = row['day_of_week']
    valid_key = (participant_id, hour, minute, day_of_week)
    if valid_key in s:
        s.remove(valid_key)
    else:
        lst2.append(index)

lst = []
for i in s:
    lst.append(d[i])

lst.sort()
difference = cloud_data.ix[lst] 
print(difference.shape)
difference # rows that are only in cloud but not phone

(16, 19)

/Library/Frameworks/Python.framework/Versions/3.6/lib/python3.6/site-packages/ipykernel_launcher.py:30: DeprecationWarning:
.ix is deprecated. Please use
.loc for label based indexing or
.iloc for positional indexing

See the documentation here:
http://pandas.pydata.org/pandas-docs/stable/indexing.html#ix-indexer-is-deprecated

,status,8to9,9to10,10to11,11to12,12to13,13to14,14to15,15to16,16to17,17to18,18to19,19to20,participant_id,timestamp,date,hour,minute,day_of_week
0,COMPLETED,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,204,1502768220060,2017-08-14 23:37:00,23,37,Monday
1,COMPLETED,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,0.0,0.0,0.0,204,1502833045816,2017-08-15 17:37:25,17,37,Tuesday
15,COMPLETED,0.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0,207,1505783620020,2017-09-18 21:13:40,21,13,Monday
16,COMPLETED,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,207,1505876461327,2017-09-19 23:01:01,23,1,Tuesday
17,COMPLETED,0.0,0.0,0.0,0.0,0.0,1.0,0.0,1.0,1.0,0.0,0.0,1.0,207,1505960756838,2017-09-20 22:25:56,22,25,Wednesday
18,COMPLETED,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0,207,1506042044683,2017-09-21 21:00:44,21,0,Thursday
19,COMPLETED,1.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,207,1506128735244,2017-09-22 21:05:35,21,5,Friday
26,COMPLETED,1.0,1.0,1.0,0.0,0.0,1.0,1.0,0.0,1.0,1.0,1.0,1.0,208,1505786640882,2017-09-18 22:04:00,22,4,Monday
27,COMPLETED,1.0,0.0,1.0,1.0,1.0,1.0,1.0,0.0,0.0,1.0,1.0,0.0,208,1505868202990,2017-09-19 20:43:22,20,43,Tuesday
28,COMPLETED,1.0,1.0,1.0,1.0,1.0,1.0,0.0,1.0,0.0,1.0,1.0,1.0,208,1505955789615,2017-09-20 21:03:09,21,3,Wednesday
29,COMPLETED,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,208,1506042269907,2017-09-21 21:04:29,21,4,Thursday
30,COMPLETED,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,208,1506118020604,2017-09-22 18:07:00,18,7,Friday
53,COMPLETED,0.0,1.0,0.0,0.0,1.0,1.0,0.0,1.0,0.0,0.0,1.0,1.0,213,1508301111120,2017-10-18 00:31:51,0,31,Wednesday
138,COMPLETED,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,222,1512619346450,2017-12-06 23:02:26,23,2,Wednesday
139,ABANDONED_BY_TIMEOUT,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,222,1512706852428,2017-12-07 23:20:52,23,20,Thursday
140,COMPLETED,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,222,1512792121807,2017-12-08 23:02:01,23,2,Friday

In [11]:
difference = phone_data.ix[lst2]
print(difference.shape)
difference # rows in phone but not cloud

(28, 19)

/Library/Frameworks/Python.framework/Versions/3.6/lib/python3.6/site-packages/ipykernel_launcher.py:1: DeprecationWarning:
.ix is deprecated. Please use
.loc for label based indexing or
.iloc for positional indexing

See the documentation here:
http://pandas.pydata.org/pandas-docs/stable/indexing.html#ix-indexer-is-deprecated
  """Entry point for launching an IPython kernel.

,status,8to9,9to10,10to11,11to12,12to13,13to14,14to15,15to16,16to17,17to18,18to19,19to20,participant_id,timestamp,date,hour,minute,day_of_week
0,COMPLETED,0.0,1.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,201,1498277120417,2017-06-24 00:05:20,0,5,Saturday
1,COMPLETED,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,0.0,0.0,0.0,201,1498359251729,2017-06-24 22:54:11,22,54,Saturday
2,MISSED,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,201,1498450441461,2017-06-26 00:14:01,0,14,Monday
3,COMPLETED,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,203,1502940333261,2017-08-16 23:25:33,23,25,Wednesday
4,MISSED,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,203,1503029641629,2017-08-18 00:14:01,0,14,Friday
5,MISSED,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,203,1503116107921,2017-08-19 00:15:07,0,15,Saturday
6,COMPLETED,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,203,1503201212619,2017-08-19 23:53:32,23,53,Saturday
7,COMPLETED,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,203,1503288227082,2017-08-21 00:03:47,0,3,Monday
21,COMPLETED,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,206,1506196977516,2017-09-23 16:02:57,16,2,Saturday
22,COMPLETED,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,206,1506304315523,2017-09-24 21:51:55,21,51,Sunday
23,COMPLETED,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,206,1506362753117,2017-09-25 14:05:53,14,5,Monday
24,COMPLETED,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,206,1506457117372,2017-09-26 16:18:37,16,18,Tuesday
25,COMPLETED,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,206,1506539441179,2017-09-27 15:10:41,15,10,Wednesday
77,COMPLETED,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,215,1510027304982,2017-11-06 23:01:44,23,1,Monday
79,COMPLETED,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,215,1510200053337,2017-11-08 23:00:53,23,0,Wednesday
102,MISSED,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,217,1510107240861,2017-11-07 21:14:00,21,14,Tuesday
103,COMPLETED,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0,217,1510192930042,2017-11-08 21:02:10,21,2,Wednesday
136,MISSED,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,221,1511838840841,2017-11-27 22:14:00,22,14,Monday
137,COMPLETED,1.0,0.0,1.0,0.0,1.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0,221,1511924515190,2017-11-28 22:01:55,22,1,Tuesday
138,MISSED,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,221,1512011640857,2017-11-29 22:14:00,22,14,Wednesday
139,MISSED,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,221,1512100588176,2017-11-30 22:56:28,22,56,Thursday
155,COMPLETED,1.0,0.0,0.0,1.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0,1.0,229,1523674183332,2018-04-13 22:49:43,22,49,Friday
156,COMPLETED,1.0,1.0,1.0,0.0,1.0,1.0,1.0,0.0,0.0,0.0,0.0,0.0,229,1523761320404,2018-04-14 23:02:00,23,2,Saturday
157,MISSED,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,229,1523848441519,2018-04-15 23:14:01,23,14,Sunday
158,COMPLETED,0.0,0.0,1.0,0.0,1.0,0.0,1.0,1.0,0.0,1.0,1.0,0.0,229,1523934226928,2018-04-16 23:03:46,23,3,Monday
159,COMPLETED,0.0,1.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0,1.0,229,1524107026598,2018-04-18 23:03:46,23,3,Wednesday
160,COMPLETED,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,229,1524193421900,2018-04-19 23:03:41,23,3,Thursday
183,MISSED,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,233,1532236141077,2018-07-22 01:09:01,1,9,Sunday